*{
    box-sizing: border-box;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    margin: 35px auto 82px auto;
    gap: 14px;
    margin-top: 130px;
}
.part1, .part2{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 40px;
    justify-content: space-between;
}
.aws{
    margin-left: 63px;
}
.athena{
    margin-right: 23px;
}
@media (max-width:1280px) {
    .section2{
        flex-direction: column;
        margin:0;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: center;
        gap: 20px;
    }
    .part1, .part2{
        width: 85%;
    }
    .google_cloud, .azure, 
    .software1, .athena{
        margin: auto;
    }
    .aws, .clmp{
        margin: auto;
    }
    .part1, .part2{
        width: 85%;
    }
}
@media (max-width:565px) {
    .google_cloud, .azure, 
    .software1, .athena{
        margin: auto;
        width: 32%;
    }
    .aws, .clmp{
        margin: auto;
        width: 18%;
    }
    .part1, .part2{
        width: 85%;
    }
}